{% extends 'base.html.twig.' %}

{% block body %}
    <head>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </head>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}